#lösung {
    margin-top: 10px;
    width: 90%;
}

#dokumentation {
    margin-top: 25px;
    width: 90%;
}

.dokutext {
    margin-left: 10px;
}

#prop-hint, #pred-string1, #pred-string2 {
    font-size: smaller;
    font-style: italic;
}

.output-text {
    margin-top: 1em;
}

#info-text1, #info-text2 {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: khaki;
}

#freeTextInput {
    margin-bottom: 10px;
}

#outWord, #outArray {
    margin-top: 10px;
    margin-bottom: 10px;
}

#labPrediction, #listPrediction {
    font-style: italic;
}

.net-config {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: khaki;
}

.on-load-pending {
    color: red;
}

.on-load-done {
    color: green;
}

.btn {
    width: 200px;
}

.dropdown {
    margin-bottom: 10px;
}

#model-structure{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: khaki;
}